/*
  Main Stylesheet
*/
html {
  font-size: 62.5%
}

* {
  box-sizing: border-box;
}

.credit_card {
  box-sizing: border-box;
  border-radius: 2rem;
  background: rgb(36, 118, 164);
  display: inline-block;
  padding-left: 3rem;
  height: 28rem;
  width: 45rem;
}

.cc_title {
  font-size: 2rem;
}
.cc_number {
  margin-top: 10rem;
  margin-bottom: 3rem;
  width: 35rem;
}

.cc_name {
  margin-right: 2rem;
  length: 22rem;
}
